@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-vermelho-brilhante: hsl(12, 88%, 59%);
    --cor-hover: #f68e74;
    --cor-azul-escuro: hsl(228, 39%, 23%);
    --cor-azul-acinzentado-escuro: hsl(227, 12%, 61%);
    --cor-azul-muito-escuro: hsl(233, 12%, 13%);
    --cor-vermelho-muito-palido: hsl(13, 100%, 96%);
    --cor-variar-cinza-claro: hsl(0, 0%, 98%);
    --cor-secces: #2ecc71;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Be Vietnam";
    position: relative;
    margin: 0 auto;
}

body::before {
    content: "";
    position: absolute;
    background: url(./images/bg-tablet-pattern.svg) no-repeat;
    background-position: top -10rem right -12rem;
    background-size: 44.5rem 44rem;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1,
h2,
h3,
h4 {
    color: var(--cor-azul-escuro);
}

p {
    color: var(--cor-azul-acinzentado-escuro);
}

.btn,
.different-number {
    border-radius: 2.5rem;
    border: 1px solid var(--cor-vermelho-brilhante);
    background: var(--cor-vermelho-brilhante);
    color: var(--cor-variar-cinza-claro);
}

.btn {
    font-weight: 700;
    cursor: pointer;
    height: 4.4rem;
    width: 13.7rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    box-shadow: 0px 12px 13px -10px var(--cor-vermelho-brilhante);
}

.btn:hover {
    background: var(--cor-hover);
    border: 1px solid var(--cor-hover);
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-nav {
    display: none;
}

.btn-header {
    margin-top: 1.4rem;
}


.btn-evaluation {
    margin-top: 3.6rem;
}

.btn-team {
    background-color: var(--cor-vermelho-muito-palido);
    color: var(--cor-vermelho-brilhante);
}

.btn-team:hover {
    background-color: var(--cor-hover);
    color: var(--cor-variar-cinza-claro);
}

.btn-email {
    height: 4.4rem;
    padding: 0 2.3rem;
    width: unset;
    box-shadow: none;
}

.container {
    width: 100%;
    max-width: 111rem;
    padding: 0 2.4rem;
    margin: 0 auto;
    height: inherit;
}

img {
    display: block;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem 1.5rem 0.8rem;
    margin: 0 -2rem 0;
}


#nav .img-logo {
    align-self: flex-end;
}

#nav .img-logo img {
    transform: scale(0.8);
}

#nav ul {
    position: fixed;
    list-style: none;
    top: 10rem;
    left: 2rem;
    right: 2rem;
    transition: all 0.5s;
    transform: scale(0);
    background: var(--cor-variar-cinza-claro);
    transform-origin: top right;
    text-align: center;
    padding: 4rem 0;
    font-weight: 700;
    border-radius: 1rem;
    z-index: 10;
}


#nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--cor-azul-escuro);
    font-size: 1.8rem;
    padding: 1rem 0;
}

#nav ul li a:hover {
    color: var(--cor-azul-acinzentado-escuro);
}

#toggle {
    display: none;
}

.hamburger {
    cursor: pointer;
    right: 2.4rem;
    padding: 1rem 0;
    align-self: center;
    z-index: 30;
    right: 5vw;
    display: block;
    padding: 1.2rem 0;
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
    height: 0.4rem;
    width: 2.5rem;
    display: block;
    background: var(--cor-azul-escuro);
    transition: all 0.5s;
}

.hamburger-icon {
    position: relative;
    transition: all 0.5s;
}

.hamburger-icon::before, .hamburger-icon::after {
    position: absolute;
    content: "";
    top: -0.8rem;
}

.hamburger-icon::after {
    top: 0.8rem;
}

.conteudo-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 100vh;
    background: linear-gradient(28deg, rgba(0, 0, 0, 1.9) 0%, rgba(0, 0, 0, 0) 100%);
}

#toggle:checked~.hamburger .hamburger-icon {
    transform: rotate(45deg);
}

#toggle:checked~.hamburger .hamburger-icon::before {
    transform: rotate(-90deg);
    top: -0.1rem;
}

#toggle:checked~.hamburger .hamburger-icon::after {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked~.conteudo-shadow {
    position: fixed;
    pointer-events: all;
    opacity: 1;
    width: 100%;
    z-index: 3;
}

#toggle:checked~ul {
    transform: scale(1);
}

header {
    padding: 4rem 0 6.8rem;
}

.Bring {
    margin: 0 auto;
    padding-top: 2.7rem;
}

.Bring-img img {
    margin: 0 auto;
    max-width: 100%;
}

.Bring-descricao {
    padding-top: 1rem;
    text-align: center;
}

.Bring-descricao .heading {
    font-size: 3.7rem;
    color: var(--cor-azul-escuro);
    line-height: 1.4;
}

.Bring-descricao .paragraph {
    font-size: 1.6rem;
    padding: 0.8rem 1.4rem 1.5rem;
    line-height: 1.8;
}

.different {
    padding: 3rem 0 1rem;
    position: relative;
}

.different::before {
    content: "";
    position: absolute;
    background: url(./images/bg-tablet-pattern.svg) no-repeat;
    background-position: top right -20.4rem;
    background-size: 90%;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: -33.8rem;
}

.different-heading {
    text-align: center;
    padding-bottom: 6rem;
}


.different h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.different p {
    font-size: 1.5rem;
    line-height: 1.8;
}


.conteudo-different {
    padding-bottom: 5.2rem;
}

.conteudo-different .heading {
    display: flex;
    background: var(--cor-vermelho-muito-palido);
    border-radius: 2.5rem 0 0 2.5rem;
}

.conteudo-different .heading .different-number {
    width: 6.7rem;
    height: 3.9rem;
    text-align: center;
    line-height: 2;
    font-size: 1.6rem;
    font-weight: 400;
}

.conteudo-different .heading .different-highlight {
    padding-left: 1.8rem;
    padding-top: 0.6rem;
    font-size: 1.55rem;
}


.conteudo-different .different-paragraph {
    padding-top: 0.8rem;
}


.evaluation {
    text-align: center;
    padding: 0 8vw 4.4rem;
    overflow: hidden;
}

.evaluation h2 {
    font-size: 3rem;
    padding-bottom: 4rem;
}

.evaluation .swiper-container {
    width: 100%;
    height: 100%;
}

.evaluation .swiper-wrapper {
    margin-bottom: 2rem;
}

.evaluation .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
    border: 1px solid var(--cor-vermelho-brilhante);
    background: none;
    opacity: 1;
}

.evaluation .swiper-pagination-bullets .swiper-pagination-bullet:focus {
    outline: none;
}

.evaluation .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: var(--cor-vermelho-brilhante);
}

.evaluation .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1.6rem;
}

.evaluation .swiper-slide .box {
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.evaluation .swiper-slide img {
    width: 7.2rem;
    height: 7.2rem;
    position: relative;
    margin: 2.6rem auto -3rem;
}

.evaluation .swiper-slide .content-testimonial {
    background: var(--cor-variar-cinza-claro);
    padding: 5rem 0;
    width: 100%;
}

.evaluation .swiper-slide .content-testimonial h4 {
    padding-bottom: 2rem;
}

.evaluation .swiper-slide .testimonial p {
    line-height: 1.9;
    padding: 0 1rem;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 105rem;
    left: 0;
    width: 100%;
}

.team {
    padding: 9rem 0;
    background: var(--cor-vermelho-brilhante);
    position: relative;
    text-align: center;
    overflow: hidden;
}

.team::before,
.team::after {
    content: " ";
    display: block;
    position: absolute;
    left: -28rem;
    top: 6rem;
    width: 38rem;
    height: 49rem;
    z-index: 1;
    opacity: 0.1;
    background-image: url(./images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: cover;
}

.team::after {
    left: unset;
    right: -15rem;
    opacity: 0;
    background-position: top -38.5rem right -19.4rem;
}

.team-heading {
    position: relative;
    z-index: 2;
}

.team h1 {
    text-align: center;
    font-size: 3.7rem;
    color: var(--cor-variar-cinza-claro);
    padding-bottom: 3rem;
    line-height: 1.3;
}

footer {
    background: var(--cor-azul-muito-escuro);
    color: var(--cor-variar-cinza-claro);
    padding-top: 5.2rem;
}

footer .wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 5.2rem;
    grid-row-gap: 2.8rem;
    grid-template-areas: "email""menu""content-icons""copyright";
    position: relative;
}

footer .wrapper form {
    grid-area: email;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 56rem;
    position: relative;
}

footer .wrapper form input {
    width: 64vw;
    height: 4.4rem;
    border-radius: 2.5rem;
    border: 2px solid transparent;
    padding-left: 2.4rem;
    color: var(--cor-azul-acinzentado-escuro);
    margin-right: 0.7rem;
    outline: none;
}

footer .wrapper form input::placeholder {
    color: var(--cor-azul-acinzentado-escuro);
}

footer .wrapper form input:focus {
    border-color: var(--cor-azul-acinzentado-escuro);
}

.footer-msg-error {
    color: var(--cor-vermelho-brilhante);
    position: absolute;
    bottom: 0.5rem;
    left: 2rem;
    font-size: 1.2rem;
}


.footer-msg-error input {
    border-color: var(--cor-vermelho-brilhante);
}

.success {
    color: var(--cor-secces);
    border-color: var(--cor-secces);
    position: absolute;
    bottom: 0.5rem;
    left: 2rem;
    font-size: 1.2rem;
    display: none;
}

footer .wrapper .footer-information {
    grid-area: menu;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 56rem;
    margin: 0 auto;
}

footer .wrapper .footer-information li {
    list-style: none;
}

footer .wrapper .footer-information li a {
    text-decoration: none;
    padding-bottom: 1.3rem;
    font-size: 1.5rem;
    color: var(--cor-variar-cinza-claro);
    display: block;
}

footer .wrapper .footer-information li a:hover {
    color: var(--cor-vermelho-brilhante);
}

.size:hover * {
    fill: var(--cor-vermelho-brilhante);
    transition: all 0.5s;
}

footer .wrapper .content-icons {
    grid-area: content-icons;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 1rem;
}

footer .wrapper .content-icons ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 56rem;
    padding: 0 4vw;
}

footer .wrapper .content-icons ul li {
    list-style: none;
}

footer .wrapper .content-icons .logo {
    align-self: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}

footer .wrapper .copyright {
    grid-area: copyright;
    align-self: flex-start;
    justify-self: center;
    font-size: 1.3rem;
}

@media screen and (min-width: 992px) {
    body::before {
        background-size: 82rem 81rem;
        background-position: top -15rem right -15rem;
    }

    .btn-nav {
        display: block;
    }

    .btn-header {
        align-self: center;
    }

    .btn-evaluation {
        margin-top: 2.5rem;
    }

    .btn-team {
        align-self: center;
        margin-top: 0.6rem;
        margin-right: -0.5rem;
        height: 4.6rem;
        width: 13.9rem;
    }

    #nav {
        padding: 1.6rem 0 0 0;
    }

    #nav ul {
        display: flex;
        align-items: center;
        transform: none;
        font-weight: 400;
        position: static;
        padding: 0 0 1rem 2.1rem;
        background: transparent;
    }

    #nav ul li {
        padding-right: 3.2rem;
    }

    #nav ul li a {
        padding-bottom: 0;
        font-weight: 500;
    }

    .hamburger {
        display: none;
    }

    .Bring-conteudo {
        display: flex;
        margin-top: 8.2rem;
    }

    .Bring-img {
        order: 2;
        flex: 1;
    }

    .Bring-img img {
        margin-right: -2rem;
    }

    .Bring-descricao {
        display: grid;
        grid-template-rows: 21rem 9rem 8rem;
        row-gap: 1rem;
        text-align: left;
        flex: 1;
        padding-top: 0;
        align-self: center;
        margin-bottom: 0.7rem;
    }

    .Bring-descricao .heading {
        font-size: 5.4rem;
        line-height: 1.22;
    }

    .Bring-descricao .paragraph {
        padding: 0.7rem 0 0;
        width: 63%;
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .different::before {
        background-size: 81rem 81rem;
        background-position: bottom -25rem left -50rem;
        margin-top: 20rem;
    }

    .content-different {
        flex: 1;
        padding-left: 3rem;
    }

    .different {
        padding: 3.5rem 0;
    }

    .different-conteudo {
        display: flex;
    }

    .different-heading {
        text-align: left;
        flex: 1;
    }

    .different h1 {
        font-size: 3.86rem;
        line-height: 1.15;
        padding-bottom: 3rem;
    }

    .different p {
        font-size: 1.6rem;
        padding-right: 12vw;
        line-height: 1.7;
    }

    .conteudo-different {
        padding-bottom: 3.7rem;
    }

    .conteudo-different:first-child {
        padding-right: 1rem;
    }

    .conteudo-different .heading {
        background: none;
    }

    .conteudo-different .heading .different-highlight {
        padding-left: 2.8rem;
    }

    .conteudo-different .different-paragraph {
        padding-right: 0;
        padding-left: 9.4rem;
    }

    .evaluation h2 {
        font-size: 3.9rem;
        padding-bottom: 4.5rem;
    }

    .evaluation .swiper-pagination-bullets .swiper-pagination-bullet {
        display: none;
    }

    .evaluation .swiper-slide {
        padding-bottom: 0;
    }

    .evaluation .swiper-slide .content-testimonial {
        font-size: 1.6rem;
        padding: 5.4rem 0 4rem;
    }

    .evaluation .swiper-slide .content-testimonial p {
        padding: 0 2.7rem;
        line-height: 1.6;
    }

    .team {
        padding: 6.4rem 0 7rem;
    }

    .team::before, .team::after {
        left: 16.8rem;
        top: -4.6rem;
        width: 57.4rem;
        height: 49rem;
    }

    footer {
        padding-top: 6.2rem;
    }

    footer .wrapper {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 3fr 5fr 5fr;
        grid-template-areas: "content-icons menu email""content-icons menu copyright";
        column-gap: 5.3rem;
        grid-row-gap: 2.2rem;
    }

    footer .wrapper form {
        justify-content: flex-end;
        margin: 0;
        padding: 0.3rem 0 2.7rem;
    }

    footer .wrapper form input {
        width: 20rem;
        padding-left: 1.5rem;
    }

    footer .wrapper .footer-information {
        display: grid;
        grid-column-gap: 18.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    footer .wrapper .content-icons {
        padding: 0 0 4.3rem 0.6rem;
    }

    footer .wrapper .content-icons ul {
        order: 2;
        max-width: 15rem;
        margin: 0;
        padding: 0;
    }

    .size {
        padding-right: 2rem;
    }

    footer .wrapper .copyright {
        justify-self: flex-end;
        font-size: 1.26rem;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        padding: 0;
    }

    .team::after {
        opacity: 0.1;
    }

    .team-heading {
        display: flex;
        justify-content: space-between;
    }

    .team h1 {
        width: 50%;
        padding-bottom: 0;
        text-align: left;
        line-height: 1.13;
        font-size: 3.86rem;
    }

    .footer-msg-error,
    .success {
        left: 12rem;
    }

}